@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData

@model List<CollectionInPutViewModel>
@{
    ViewData["Title"] = "لیست دسته بندی نمایش ها";   
}
<h3>لیست دسته بندی نمایش ها</h3>
<table>
    <thead>
        <tr>
            
            <th>شناسه</th>
            <th>نام دسته بندی نمایش</th>
            <th>تاریخ ثبت</th>
            
            <th>عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
            <td>@Item.Id</td>
            <td>@Item.Name</td>
            <td>@Item.CreationDate</td>
           
            <td>
                <a  class="btn btn-primary"  asp-controller="Collection"  asp-action="UpdateCollection">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Collection" asp-action="RemoveCollection" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
