@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData

@model BrandUpdateViewModel
@{
    ViewData["Title"] = "ویرایش برند ها";
      Layout = "_AdminLayout";
}
<h3>ویرایش برند ها</h3>

<form asp-controller="Brand" asp-action="UpdateBrand" asp-area="Admin" method="post" >
    <div  class="form-group"> 
        <label asp-for=" Id"  hidden="hidden" > </label>
      <input   class="form-control" asp-for="Id"  hidden="hidden" />

    </div>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />
      <span asp-validation-for="Name"></span>

    </div>
     <div  class="form-group">
      <label asp-for="DisPlayOrder"  > </label>
      <input   class="form-control" asp-for="DisPlayOrder" />
      <span asp-validation-for="DisPlayOrder" ></span>

    </div>
        <div class="form-group">


        <input type="submit" value="ثبت " class="btn btn-primary"  style="float:right"  />
    </div>

    </form>