   <div class="main-category py-20">
        <div class="container-fluid">
            <div class="parent">
                <div class="row justify-content-center">
                    <div class="main-category-title">
                        <h4 class="main-title">دسته بندی های فروشگاه</h4>
                    </div>
                    <div class="col-md-3">
                        <a href="category.html">
                            <div class="item">
                                <div class="image">
                                    <img src="~/image/cat/clothes1.png" alt="" class="img-fluid">
                                </div>
                                <div class="title mt-2">
                                    <h6 class="font-14">لپ تاپ</h6>
                                </div>
                                <div class="hover">
                                    <span class="badge rounded-pill bg-dark font-14">87</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="category.html">
                            <div class="item">
                                <div class="image">
                                    <img src="~/image/cat/clothes1.png" alt="" class="img-fluid">
                                </div>
                                <div class="title mt-2">
                                    <h6 class="font-14">تبلت</h6>
                                </div>
                                <div class="hover">
                                    <span class="badge rounded-pill bg-dark font-14">87</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="category.html">
                            <div class="item">
                                <div class="image">
                                    <img src="~/image/cat/clothes1.png" alt="" class="img-fluid">
                                </div>
                                <div class="title mt-2">
                                    <h6 class="font-14">گوشی موبایل</h6>
                                </div>
                                <div class="hover">
                                    <span class="badge rounded-pill bg-dark font-14">87</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="category.html">
                            <div class="item">
                                <div class="image">
                                    <img src="~/image/cat/clothes1.png" alt="" class="img-fluid">
                                </div>
                                <div class="title mt-2">
                                    <h6 class="font-14">تجهیزات دیجیتال</h6>
                                </div>
                                <div class="hover">
                                    <span class="badge rounded-pill bg-dark font-14">87</span>
                                </div>
                            </div>
                        </a>
                    </div>
            
                </div>
            </div>
        </div>
    </div>