<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه دات نت</title>
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/font/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="~/plugin/waves/waves.min.css">
    <link rel="stylesheet" href="~/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/plugin/timer/timer.css">
    <link rel="stylesheet" href="~/plugin/hint-css/hint-css.css">
    <link rel="stylesheet" href="~/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
@*header
//menu*@
<partial name="_Header" />
<partial  name="_Menu" />

@RenderBody()
@*mobile footer
    amazing
    productbanner
    categorybox
    productbox
    productbox2
*@
<partial name="_MobileFooter" />
    <partial name="_Amazing" />
    <partial name="_ProductBanner" />
    <partial name="_CategoryBox" />
        <partial name="_ProductBox" />
            <partial name="_ProductBoxTwo" />

 <div class="banner py-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-2">
                    <a href="">
                        <img src="~/image/banner-2.jpg" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-md-6 mt-md-0 mt-2">
                    <a href="">
                        <img src="~/image/banner-3.jpg" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->

    @*
        productbox3
        brandbox
        footer
    *@
    <partial name="_ProductBoxThree" />
    <partial name="_BrandBox" />
    <partial name="_Footer"   />
    <!-- cart canvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="cartCanvas" aria-labelledby="cart canvas">
        <div class="offcanvas-header border-bottom border-1 border-muted">
            <h5 class="offcanvas-title">سبد خرید</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <a href="">
                                <div
                                    class="product-row bg-white d-flex align-items-center justify-content-between rounded-4 shadow-md">
                                    <div class="image">
                                        <img src="~/image/product/wach2.jpg" class="img-fluid" width="100" alt="">
                                    </div>
                                    <div class="desc">
                                        <h6 class="font-14 title text-overflow">گوشی موبایل سامسونگ مدل Galaxy A32
                                            SM-A325F/DS
                                            دو سیم‌کارت ظرفیت 128 گیگابایت </h6>
                                        <div class="price d-flex flex-column justify-content-end mt-2">
                                            <div class="text-end">
                                                <span class="fw-bold font-18 def-color">299,000</span>
                                                <span class="badge main-color-two-bg rounded-pill">25%</span>
                                            </div>
                                            <div class="text-end">
                                                <span
                                                    class="text-muted font-14 text-decoration-line-through">150,000</span>
                                                <span class="text-muted font-14">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-1 ps-0">
                            <a href="" data-hint="حذف از سبد" class="hint--right">
                                <i class="bi bi-x-circle-fill text-danger fs-4"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <a href="">
                                <div
                                    class="product-row bg-white d-flex align-items-center justify-content-between rounded-4 shadow-md">
                                    <div class="image">
                                        <img src="~/image/product/television2.jpg" class="img-fluid" width="100"
                                            alt="">
                                    </div>
                                    <div class="desc">
                                        <h6 class="font-14 title text-overflow">گوشی موبایل سامسونگ مدل Galaxy A32
                                            SM-A325F/DS
                                            دو سیم‌کارت ظرفیت 128 گیگابایت </h6>
                                        <div class="price d-flex flex-column justify-content-end mt-2">
                                            <div class="text-end">
                                                <span class="fw-bold font-18 def-color">299,000</span>
                                                <span class="badge main-color-two-bg rounded-pill">25%</span>
                                            </div>
                                            <div class="text-end">
                                                <span
                                                    class="text-muted font-14 text-decoration-line-through">150,000</span>
                                                <span class="text-muted font-14">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-1 ps-0">
                            <a href="" data-hint="حذف از سبد" class="hint--right">
                                <i class="bi bi-x-circle-fill text-danger fs-4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end cart canvas -->

    <!-- login modal -->
    <div class="modal fade auth" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-5">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">ورود به سایت</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInput"
                                placeholder="تلفن همراه / ایمیل">
                            <label for="floatingInput">تلفن همره / ایمیل</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control float-input" id="floatingPassword"
                                placeholder="کلمه عبور">
                            <label for="floatingPassword">کلمه عبور</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="rememberME">
                                <label class="form-check-label" for="rememberME">مرا به خاطر بسپار</label>
                            </div>
                            <div class="form-group">
                                <a href="" class="text-primary">فراموشی رمز عبور</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                class="btn main-color-three-bg border-0 rounded-pill w-100 text-white waves-effect waves-light">ورود</button>
                        </div>
                    </form>
                    <div class="divider">
                        <span>یا</span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="">عضو نیستی؟ ثبت نام در فروشگاه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end login modal -->

    <!-- product modal -->
    <div class="modal fade modal-product" id="productModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-4">
                <div class="modal-header">
                    <h1 class="modal-title fs-6">گوشی موبایل اپل مدل iPhone XR ظرفیت 128 گیگابایت
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 mb-md-0 mb-3">
                            <div class="swiper sw-modal-product">
                                <div class="swiper-wrapper" title="برای بزرگنمایی تصویر دابل کلیک کنید">
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image1.jpg" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image2.jpg" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image3.jpg" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image4.jpg" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image5.jpg" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img class="img-fluid" src="~/image/product/product-image6.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="product-meta">
                                <div class="feature py-3">
                                    <nav class="navbar">
                                        <ul class="navbar-nav">
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">برند:</span>
                                                <span class="nav-title-desc text-muted">اپل</span>
                                            </li>
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">حافظه داخلی:</span>
                                                <span class="nav-title-desc text-muted">256 گیگابایت</span>
                                            </li>
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">مقدار رم :</span>
                                                <span class="nav-title-desc text-muted">3 گیگابایت</span>
                                            </li>
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">رزولوشن عکس:</span>
                                                <span class="nav-title-desc text-muted">12 مگاپیکسل</span>
                                            </li>
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">تعداد سیم کارت:</span>
                                                <span class="nav-title-desc text-muted">تک</span>
                                            </li>
                                            <li class="nav-item pb-1 font-14">
                                                <span class="nav-title me-1 fw-bold">ویژگی‌های خاص:</span>
                                                <span class="nav-title-desc text-muted">مقاوم در برابر آب مناسب عکاسی
                                                    مناسب عکاسی سلفی مناسب بازی مجهز به حس‌گر تشخیص چهره</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="product-variable py-4">
                                <div class="row">
                                    <div class="col-md-4 mb-md-0 mb-3">
                                        <div class="box">
                                            <label class="box-label">گارانتی</label>
                                            <form action="">
                                                <select name="" id="" class="form-select">
                                                    <option value="">12 ماه گارانتی شرکتی</option>
                                                    <option value="">24 ماه گرانتی گرین</option>
                                                    <option value="">36 ماه گارانتی شرکتی</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-3">
                                        <div class="box">
                                            <label class="box-label">ظرفیت</label>
                                            <form action="">
                                                <select name="" id="" class="form-select">
                                                    <option value="">128 گیگابایت</option>
                                                    <option value="">256 گیگابایت</option>
                                                    <option value="">512 گیگابایت</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-3">
                                        <div class="box">
                                            <label class="box-label">انتخاب رنگ</label>
                                            <div class="box-item">
                                                <div class="color-box">
                                                    <div class="color-box-item" data-toggle="tooltip"
                                                        data-hint="نام رنگ مورد نظر">
                                                        <span class="color bg-danger hint--top"></span>
                                                    </div>
                                                    <div class="color-box-item" data-toggle="tooltip"
                                                        data-hint="نام رنگ مورد نظر">
                                                        <span class="color bg-primary hint--top"></span>
                                                    </div>
                                                    <div class="color-box-item" data-toggle="tooltip"
                                                        data-hint="نام رنگ مورد نظر">
                                                        <span class="color bg-warning hint--top"></span>
                                                    </div>
                                                    <div class="color-box-item active" data-toggle="tooltip"
                                                        data-hint="نام رنگ مورد نظر">
                                                        <span class="color bg-success hint--top"></span>
                                                    </div>
                                                    <div class="color-box-item" data-toggle="tooltip"
                                                        data-hint="نام رنگ مورد نظر">
                                                        <span class="color bg-secondary hint--top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="product-action py-3">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <form action="">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="cart-counter mb-2 me-2">
                                                    <input type="text" name="count" class="counter" value="1">
                                                </div>
                                                <button
                                                    class="btn border-0 mb-2 main-color-one-bg flex-grow-1 rounded-pill py-2 font-14 waves-effect waves-light">
                                                    <i class="bi bi-cart-plus"></i>
                                                    افزودن به سبد خرید</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="price d-flex flex-column justify-content-end">
                                            <div class="text-end">
                                                <span class="fw-bold font-20 main-color-two-color">299,000</span>
                                                <span class="badge main-color-two-bg rounded-pill">25%</span>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <span
                                                    class="text-muted font-14 text-decoration-line-through">150,000</span>
                                                <span class="text-muted font-14 ms-2">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- go top top -->
    <div class="progress-wrap d-lg-block d-none">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- end go top top -->

    <!-- contact us floating -->
    <div id="btncollapzion" class=" btn_collapzion"></div>
    <div class="" id="contactOverlay"></div>
    <!-- end contact us floating -->


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugin/waves/waves.min.js"></script>
    <script src="~/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="~/plugin/timer/timer.js"></script>
    <script src="~/plugin/hint-css/hint-css.js"></script>
    <script src="~/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/jquery-app.js"></script>

    <!-- ===== start new update 3.2.0 -->
    <script src="~/plugin/go-to-top/script.js"></script>
    <script src="~/plugin/rasta-contact/script.js"></script>

    <link rel="stylesheet" href="~/plugin/go-to-top/style.css">
    <link rel="stylesheet" href="~/plugin/rasta-contact/style.css">

    <script>
        //// config floating contact
        $('#btncollapzion').Collapzion({
            _child_attribute: [{
                    'label': 'پشتیبانی تلفنی',
                    'url': 'tel:0930555555555',
                    'icon': 'bi bi-telephone'
                },
                {
                    'label': 'پشتیبانی تلگرام',
                    'url': 'https://tlgrm.me',
                    'icon': 'bi bi-telegram'
                },
                {
                    'label': 'پشتیبانی واتس آپ',
                    'url': 'https://wa.me/444444444',
                    'icon': 'bi-whatsapp'
                },

            ],
        });
    </script>
    <!-- ===== end new update -->

</body>

</html>

   