    <div class="mega-menu d-lg-flex d-none">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-10">
                    <div class="top-menu-menu">
                        <ul class="navbar-nav">
                            <li class="position-relative m-0"></li>
                            <li class="nav-item main-menu-head"><a href=""
                                    class="nav-link border-animate fromRight fw-bold"><i class="bi bi-list"></i>
                                   دسته بندی کالاها                           
                                     </a>
                                <ul class="main-menu mega-container">
                                    <li class="main-menu-sub-active-li"><a href=""><i class="bi bi-phone"></i>
                                            موبایل</a>
                                       
                                    </li>
                                    <li><a href=""><i class="bi bi-tablet"></i> تبلت</a>
                                      
                                    </li>
                                    <li><a href=""><i class="bi bi-shield"></i>آنتی ویروس</a>
                                      
                                    </li>
                                    <li><a href=""><i class="bi bi-laptop"></i>لپتاپ</a>
                                       
                                    </li>
                                   
                                    <li><a href=""><i class="bi bi-tools-front"></i>تجهیزات دیجیتال</a>
                                       
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link border-animate fromRight"><i
                                        class="bi bi-menu-app"></i>
                                       دسته بندی ها 
                                    </a>
                                <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                                    style="background: #fff url('assets/image/mega-img-1.jpg') no-repeat;background-size: 400px !important;">
                                    <li><a href="" class="title">بـرند</a></li>
                                    <li><a href="">سامـسونگ</a></li>
                                    <li><a href="">اپـل</a></li>
                                    <li><a href="">شیـائومی</a></li>
                                    <li><a href="">ال جی</a></li>
                                    <li><a href="">وان پـلاس</a></li>
                                    <li><a href="">جی ال ایـکس</a></li>
                                    <li><a href="">هـو آوی</a></li>
                                    <li><a href="">بلک بـری</a></li>
                                    <li><a href="">توشـیبا</a></li>
                                    <li><a href="">دایـناکورد</a></li>
                               
                                    <li><a href="" class="title">براساس رنگ</a></li>
                                    <li><a href="">قرمز</a></li>
                                    <li><a href="">قهوه ای</a></li>
                                    <li><a href="">سبز</a></li>
                                    <li><a href="">بنفش</a></li>
                                    <li><a href="">نارنجی</a></li>
                                    <li><a href="">نیلی</a></li>
                                </ul>
                            </li>
                           
                            <li class="nav-item"><a href="" class="nav-link border-animate fromRight "><i
                                class="bi bi-newspaper"></i>
                                 صفحات
                            </a>
                                <ul class="level-one nav-row">
                                    <li><a href="index.html">صفحه اصلی</a></li>
                                 
                                    <li><a href="product.html">صفحه محصول</a></li>
                             
                                    <li><a href="comments.html">نظرات</a></li>
                                
                                    <li><a href="last-seen.html">آخرین بازدید ها</a></li>
                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="contact-us.html">تماس با ما</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link border-animate fromRight"> <i
                                        class="bi bi-tag"></i>
                                    تخفیف ها و پیشنهاد ها</a></li>
                                    <li class="nav-item"><a href="" class="nav-link border-animate fromRight"> <i
                                        class="bi bi-fire"></i>
                                   پرفروش ترین ها</a></li>
                            <li class="nav-item"><a href="" class="nav-link border-animate fromRight">سوالی دارید</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link border-animate fromRight">در دات نت شاپ
                                    بفروشید</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <ul class="navbar-nav text-end">
                        <li class="nav-item"><a href="" class="nav-item def-color">
                                <i class="bi bi-telephone me-2"></i>
                                <span>09109560198</span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
