  <div class="product-banner py-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div
                        class="d-flex justify-content-between align-items-center shadow-box bg-white prodcut-banner-item">
                        <div class="desc">
                            <div class="title-1">
                                <h6 class="font-14 text-muted">مجموعه محصولات</h6>
                            </div>
                            <div class="title-2">
                                <h6 class="fw-bold font-18 main-color-one-color">ایسوس</h6>
                            </div>
                            <a href="" class="link font-14 mt-3 d-block text-muted"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-left-short main-color-one-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                </svg><span class="mct-hover">مشاهده محصولات</span></a>
                        </div>
                        <div class="image">
                            <img src="~/image/product/laptop1.jpg" width="150" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="d-flex justify-content-between align-items-center shadow-box bg-white prodcut-banner-item mt-md-0 mt-2">
                        <div class="desc">
                            <div class="title-1">
                                <h6 class="font-14 text-muted">مجموعه محصولات</h6>
                            </div>
                            <div class="title-2">
                                <h6 class="fw-bold font-18 main-color-one-color">اچ پی</h6>
                            </div>
                            <a href="" class="link font-14 mt-3 d-block text-muted"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-left-short main-color-one-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                </svg><span class="mct-hover">مشاهده محصولات</span></a>
                        </div>
                        <div class="image">
                            <img src="~/image/product/laptop2.jpg" width="150" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="d-flex justify-content-between align-items-center shadow-box bg-white prodcut-banner-item mt-md-0 mt-2">
                        <div class="desc">
                            <div class="title-1">
                                <h6 class="font-14 text-muted">مجموعه محصولات</h6>
                            </div>
                            <div class="title-2">
                                <h6 class="fw-bold font-18 main-color-one-color">مک بوک</h6>
                            </div>
                            <a href="" class="link font-14 mt-3 d-block text-muted"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-left-short main-color-one-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                </svg><span class="mct-hover">مشاهده محصولات</span></a>
                        </div>
                        <div class="image">
                            <img src="~/image/product/laptop3.jpg" width="150" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="d-flex justify-content-between align-items-center shadow-box bg-white prodcut-banner-item mt-md-0 mt-2">
                        <div class="desc">
                            <div class="title-1">
                                <h6 class="font-14 text-muted">مجموعه محصولات</h6>
                            </div>
                            <div class="title-2">
                                <h6 class="fw-bold font-18 main-color-one-color">مک بوک</h6>
                            </div>
                            <a href="" class="link font-14 mt-3 d-block text-muted"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-left-short main-color-one-color" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                </svg><span class="mct-hover">مشاهده محصولات</span></a>
                        </div>
                        <div class="image">
                            <img src="~/image/product/laptop3.jpg" width="150" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>