@using App.Domain.Core.BaseData.Dtos
@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData

@model CategoryUpdateViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی ها";
}
<h3>ویرایش دسته بندی ها</h3>

<form asp-controller="Category" asp-action="UpdateCategory" asp-area="Admin" method="post">
    <div class="form-group">
        <label asp-for=" Id" hidden="hidden"> </label>
        <input class="form-control" asp-for="Id" hidden="hidden" />

    </div>

    <div class="form-group">
        <label asp-for="Name"> </label>
        <input class="form-control" asp-for="Name" />
         <span asp-validation-for="Name"  ></span>

    </div>

    <div class="form-group">
        <label asp-for="ParentCategoryId"> </label>
         <br />

        <select  asp-for="ParentCategoryId" asp-items="@ViewBag.Categories" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
         <span asp-validation-for="ParentCategoryId"  ></span>

    </div>

    <div class="form-group">
        <label asp-for="DisplayOrder"> </label>
        <input class="form-control" asp-for="DisplayOrder" />
         <span asp-validation-for="DisplayOrder"  ></span>

    </div>

    <div class="form-group">
        <label asp-for="IsActive"> </label>
        <input class="form-control" asp-for="IsActive" />
                 <span asp-validation-for="IsActive"  ></span>

    </div>

    <div class="form-group">


        <input type="submit" value="ثبت " class="btn btn-primary"  style="float:left"  />
    </div>



</form>