@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData

@model List<BrandInPutViewModel>
@{
    ViewData["Title"] = "لیست برند ها";   
}
<h3>لیست برند ها</h3>
<table>
    <thead>
        <tr>
            
            <th>شناسه</th>
            <th>نام برند</th>
            <th>تاریخ ثبت برند</th>
            <th>عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
            <td>@Item.Id</td>
            <td>@Item.Name</td>
            <td>@Item.CreationDate</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Brand"  asp-action="UpdateBrand">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Brand" asp-action="RemoveBrand" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
