@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData

@model CollectionUpdateViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی نمایش ها";   
      Layout = "_AdminLayout";
}
<h3>ویرایش دسته بندی نمایش ها</h3>

<form asp-controller="Collection" asp-action="UpdateCollection" asp-area="Admin" method="post" >
    <div  class="form-group"> 
        <label asp-for=" Id"  hidden="hidden" > </label>
      <input   class="form-control" asp-for="Id"  hidden="hidden" />

    </div>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />
       <span asp-validation-for="Name"  ></span>

    </div>
   
    
     <div class="form-group">


        <input type="submit" value="ثبت " class="btn btn-primary"  style="float:left"  />
    </div>

    </form>