@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData

@model List<CategoryInPurViewModel>
@{
    ViewData["Title"] = "لیست دسته بندی ها";   
}
<h3>لیست دسته بندی ها</h3>
<table>
    <thead>
        <tr>
            
            <th>شناسه</th>
            <th>نام دسته بندی</th>
            <th>مجموعه</th>
            <th>فعال یا غیرفعال </th>
           
            <th>عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
            <td>@Item.Id</td>
            <td>@Item.Name</td>
            <td>@Item.ParentCategoryId</td>
            <td>@Item.IsActive</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Category"  asp-action="UpdateCategory">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Category" asp-action="RemoveCategory" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
