@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData
@model CategoryOutPutViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی ها";   
}
<h3>ویرایش دسته بندی ها</h3>

<form asp-controller="Category" asp-action="UpdateCategory" method="post" >
    <div  class="form-group"> 
        <label asp-for=" Id"  hidden="hidden" > </label>
      <input   class="form-control" asp-for="Id"  hidden="hidden" />

    </div>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />

    </div>
     <div  class="form-group">
      <label asp-for="ParentCategoryId"  > </label>
      <input   class="form-control" asp-for="ParentCategoryId" />

    </div>
     
     <div  class="form-group">
      <label asp-for="DisplayOrder"  > </label>
      <input   class="form-control" asp-for="DisplayOrder" />

    </div>
     
     <div  class="form-group">
      <label asp-for="IsActive"  > </label>
      <input   class="form-control" asp-for="IsActive" />

    </div>
    </form>