@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData

@model ColorOutPutViewModel
@{
    ViewData["Title"] = "اضافه کردن رنگ جدید";   
}
<h3>اضافه کردن رنگ جدید</h3>
<form>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />

    </div>
     <div  class="form-group">
      <label asp-for="ColorCode"  > </label>
      <input   class="form-control" asp-for="ColorCode" />

    </div>
    <div style="float:left; margin-top:5px;   " >
       
        <button type="submit" class="btn btn-primary" asp-action="InsertColor" asp-controller="Color" formmethod="post"  >ثبت برند</button>
        <button type="submit" class="btn btn-danger"  asp-action="ReadColor" asp-controller="Color" >انصراف</button>

    </div>
   




</form>
