@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData

@model List<ColorInPutViewModel>
@{
    ViewData["Title"] = "لیست رنگ ها";   
}
<h3>لیست رنگ ها</h3>
<table>
    <thead>
        <tr>
            
            <th>شناسه</th>
            <th>نام رنگ</th>
            <th>کد رنگ</th>
            <th>عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model){
        <tr>
           
        
            <td>@Item.Id</td>
            <td>@Item.Name</td>
            <td>@Item.ColorCode</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Color"  asp-action="UpdateColor">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Color" asp-action="RemoveColor" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
