@using App.EndPoint.ShopUi.Areas.Admin.Models.ViewModels.User

@model AcountViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<div class="card">
    <div class="card-header bg-light">
        عضویت کاربر جدید
    </div>
    <form method="post" asp-action="Register" asp-controller="Acount" asp-area="Admin"  enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger">
        <div class="card-body">
            <div class="row">
                 <div class="col-md-2">
                    <div class="col-md-12 text-center">
                        <div  >
                            <div style="height: 150px" >
                                <img class="img-thumbnail"   src="~/image/UserPic.png" />
                            </div>
                          
                            <div>
                                <span class="btn default btn-file">
                                    <span class=" btn btn-success"> انتخاب کنید </span>
                                  
                                    <input type="file" name="Image" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
            
                 <div class="row">       

                            <div class="form-group col-md-6">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PassWord"></label>
                                <input asp-for="PassWord" class="form-control" />
                                <span asp-validation-for="PassWord" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ConformPassWord"></label>
                                <input asp-for="ConformPassWord" class="form-control" />
                                <span asp-validation-for="ConformPassWord" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Family"></label>
                                <input asp-for="Family" class="form-control" />
                                <span asp-validation-for="Family" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="BrithDate"></label>
                                <input asp-for="BrithDate" class="form-control" />
                                <span asp-validation-for="BrithDate" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#demo">افزودن نقش کاربر</button>

                                <div id="demo" class="collapse">
                                    <select asp-for="Roles" class="form-control" asp-items=@(new SelectList(ViewBag.Roles,"Value","Text"))>
                                    </select>
                                    <span asp-validation-for="Roles" class="text-danger">

                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer clearfix bg-light">
                <button type="submit" class="btn btn-primary float-left">عضویت</button>
            </div>
</div>
    </form>

</div>



