@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData


@model ModelInsertViewModel
@{
    ViewData["Title"] = "اضافه کردن مدل جدید";   
}
<h3>اضافه کردن مدل جدید</h3>
<form>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />
         <span asp-validation-for="Name"  ></span>


    </div>
         <div  class="form-group">
      <label asp-for="BrandId"  > </label>
        <br />

        <select  asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
           <span asp-validation-for="BrandId"  ></span>


    </div>
     <div  class="form-group">
      <label asp-for="ParentModelId"  > </label>
        <br />

        <select  asp-for="ParentModelId" asp-items="@ViewBag.Models" class="form-control">

            <option style="display:none;" value="">انتخاب کنید</option>

        </select>
           <span asp-validation-for="ParentModelId"  ></span>


    </div>
    <div style="float:left; margin-top:5px;   " >
       
        <button type="submit" class="btn btn-primary" asp-action="InsertModel" asp-area="Admin" asp-controller="Model" formmethod="post"  >ثبت مدل</button>
        <button type="submit" class="btn btn-danger"  asp-action="ReadModel" asp-area="Admin" asp-controller="Model" >انصراف</button>

    </div>
   




</form>

