@{
    ViewData["Title"] = "نمایه";
    Layout = "_AdminLayout";
}

<div class="alert alert-success alert-dismissable">
    @ViewBag.Alert
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
</div>

