@using App.EndPoint.ShopUi.Areas.Admin.Models.ViewModels.User

@model RolesViewModel
@{
    ViewData["Title"] = "تغییر دادن نقش";
}
<h3>تغییر دادن نقش</h3>
<form>

    <div class="form-group">
        <label asp-for="RoleName"> </label>
        <input class="form-control" asp-for="RoleName" />
         <span asp-validation-for="RoleName"  ></span>

    </div>

  
    <div style="float:left; margin-top:5px;   ">

        <button type="submit" class="btn btn-primary" asp-action="UpdateRoles" asp-area="Admin" asp-controller="Roles" formmethod="post"> تغییر نقش </button>
        <button type="submit" class="btn btn-danger" asp-action= "ReadRoles"  asp-area="Admin" asp-controller="Roles" >انصراف</button>

    </div>





</form>