@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData
@model List<BrandOutPutViewModel>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>شناسه</th>
            <th>نام برند</th>
            <th>تاریخ ثبت برند</th>
            <th>عملیات</th>

        </tr>
    </thead>
      @foreach(var Item in Model){
    
    <tbody>
       
        <tr>
           
            @*<th scope="row" >
                @rowCount

            </th>*@
            <td>Item.Id</td>
            <td>Item.Name</td>
            <td>Item.CreationDate</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Brand"  asp-action="UpdateBrand">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Brand" asp-action="RemoveBrand" >
                    حذف
                </a>
            </td>


        </tr>



    </tbody>}
</table>
