 @model IEnumerable<ShowCartViewModel>




        <div class="card text-white bg-success  mb-3 " style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">سبدخرید شما</div>

  <div class="card-body bg-light ">
        @if (Model.Any())
        {
             foreach (var item in Model)
            {
                <div class="row " style="margin-top: 3px;">
                    <div class="col-md-4 card-">
                        <img src=@item.ImageName  style="max-width: 100%;">

                    </div>
                    <div class="col-md-8  cart " >
                        <h5>@item.ProductName<span class="badge" @item.Count></span></h5>

                    </div>

                </div>
            }
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        }
        else
        {
             <div class="row " style="margin-top: 3px;">
              <p class="text-muted text-center text-danger"> سبد خرید شما خالی است</p>
              </div>
        }
    </div>
    @if (Model.Any())
    {
        <div class="card-footer bg-transparent border-success">
            <a class="btn btn-success btn-black" asp-action="ShowOrder" asp-controller="Order"> نمایش فاکتور</a>
        </div>
    }
</div>   