@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData


@model List<ColorReadViewModel>
@{
    ViewData["Title"] = "لیست رنگ ها"; 
      Layout = "_AdminLayout";
}
<h3 style="float:right">لیست رنگ ها</h3>
<div style="float:left">
    <a class="btn btn-success" asp-controller="Color" asp-action="InsertColor" asp-area="Admin">جدید  </a>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            
            
            <th scope="col">نام رنگ</th>
            <th scope="col">کد رنگ</th>
            <th scope="col">عملیات</th>

        </tr>
    </thead>
      
    
    <tbody>
       @foreach(var Item in Model  ){
        <tr>
           
        
         
            <td>@Item.Name</td>
            <td>@Item.ColorCode</td>
            <td>
                <a  class="btn btn-primary"  asp-controller="Color"  asp-action="UpdateColor" asp-area="Admin" asp-route-id="@Item.Id">
                    ویرایش 
                </a>
                <a   class="btn btn-danger" asp-controller="Color" asp-action="RemoveColor" asp-area="Admin" asp-route-id="@Item.Id" >
                    حذف
                </a>
            </td>


        </tr>}



    </tbody>
</table>
