@using App.EndPoint.ShopUi.Area.Admin.Models.ViewModels.BaseData

@model ColorUpdateViewModel
@{
    ViewData["Title"] = "ویرایش رنگ ها";   
      Layout = "_AdminLayout";
}
<h3>ویرایش رنگ ها</h3>

<form asp-controller="Color" asp-action="UpdateColor"asp-area="Admin"  method="post" >
    <div  class="form-group"> 
        <label asp-for=" Id"  hidden="hidden" > </label>
      <input   class="form-control" asp-for="Id"  hidden="hidden" />

    </div>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />
         <span asp-validation-for="Name"  ></span>


    </div>
     <div  class="form-group">
      <label asp-for="ColorCode"  > </label>
      <input   class="form-control" asp-for="ColorCode" />
         <span asp-validation-for="ColorCode"  ></span>


    </div>
   
        <div class="form-group">


        <input type="submit" value="ثبت " class="btn btn-primary"  style="float:right"  />
    </div>
    </form>