@using App.EndPoint.AdminUserUi.Models.ViewModels.BaseData
@model ModelOutPutViewModel
@{
    ViewData["Title"] = "ویرایش برند ها";   
}
<h3>ویرایش برند ها</h3>

<form asp-controller="Model" asp-action="UpdateModel" method="post" >
    <div  class="form-group"> 
        <label asp-for=" Id"  hidden="hidden" > </label>
      <input   class="form-control" asp-for="Id"  hidden="hidden" />

    </div>

    <div  class="form-group"> 
        <label asp-for="Name"  > </label>
      <input   class="form-control" asp-for="Name" />

    </div>
     <div  class="form-group">
      <label asp-for="ParentModelId"  > </label>
      <input   class="form-control" asp-for="ParentModelId" />

    </div>
      <div  class="form-group">
      <label asp-for="BrandId"  > </label>
      <input   class="form-control" asp-for="BrandId" />

    </div>
    </form>
